.card {
  min-width: 10rem;
  min-height: 13rem;
  background: #f5f37c;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 0.5fr 0.5fr;
  padding: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.card + .card {
  margin-left: 2rem;
}

.card-name {
  justify-self: center;
  align-self: center;
  font-size: 2.5rem;
}

.card-score {
  justify-self: center;
  align-self: center;
  font-size: 4.65rem;
}
