.main-title {
  text-align: center;
  padding: 1.5rem 0 0 0;
}

.intro {
  flex-direction: column;
  align-items: center;
  padding: 1.25rem 1rem;
}

.intro .flex-container {
  margin: 2rem 0 0 0;
}

.intro .inputs {
  width: 70%;
  max-width: 40rem;
  justify-content: space-between;
}

.intro input {
  padding: 0.25rem 0.5rem;
  flex-basis: 70%;
  border: 2px solid #071e3d;
  border-radius: 5px;
}

.intro input:focus {
  background: #071e3d;
  color: #fff;
}

.intro input::placeholder {
  opacity: 0.5;
}

.intro .btn-grad {
  flex-basis: 25%;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #457fca 0%,
    #5691c8 51%,
    #457fca 100%
  );
}
.btn-grad {
  padding: 0.15rem 0.5rem;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border: none;
  box-shadow: 0 0 20px -10px #000;
  border-radius: 5px;
  display: block;
  cursor: pointer;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-grad:active {
  transform: scale(0.9);
}

.message-div {
  margin-top: 3rem;
  height: 60vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-group {
  margin: 1.5rem;
  font-size: 2rem;
  justify-content: center;
}

.input-group .btn-grad {
  padding: 1rem 2rem;
}

.input-group .btn-grad + .btn-grad {
  margin-left: 2rem;
}

.game-area .msg {
  font-size: 3rem;
}
